.btn {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
}
.active-btn {
  background-color: #007bff;
  color: white;
  border: 1px solid #006bdd;
}
.inactive-btn {
  background-color: #e0e0e0;
  color: #333;
  border: 1px solid #ccc;
}
